* {
    padding: 0;
    margin: 0;
}
.conteudo {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.pessoal {
    width: 100vw;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    background-color: rgba(216, 239, 239, 0.994);
}
.foto{
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.info{
  width: calc(100vw - 200px);
  display: flex;
  align-items: center;
}
#foto_pessoal {
    width: 100px;
    border-radius: 50%;
}
